<link href="https://unpkg.com/tippy.js@6.3.7/themes/light.css" rel="stylesheet">
<link href="https://unpkg.com/tippy.js@6.3.7/themes/material.css" rel="stylesheet">
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="header">
    <div class="navButtons">
        <a class="btn inline" href="/">Home</a>
        <a class="btn inline" href="/logs">Logs</a>
        <% if (isAdmin) { %>
            <div class="dropdown">
                <a class="btn inline dropdown">Server <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="/manage">Console</a>
                    <a href="/configure">Configure</a>
                    <a href="/installation">Installation</a>
                </div>
            </div>
        <% } %>

        <div class="account">
            <% if (session.isLoggedIn) { %>
                <div class="avatarContainer">
                    <img class="avatar" src="<%= getDiscordAvatar(session.discord.id, session.discord.avatar)%>"/>

                    <div class="mobileMenu">
                        <a class="btn bad" href="/logoust">Logout</a>
                    </div>
                </div>
                <p class="username"><%= session.discord.global_name %></p>
                <a class="btn bad logoutBtn" href="/logout">Logout</a>
            <% } else { %>
                <a class="btn discord" href="/login"><i class="fa-brands fa-discord"></i> Login</a>
            <% } %>
        </div>
    </div>
</div>

<% if (isAdmin && !upToDate) { %>
    <div class="updateNotice">
        <b>WebPanel Update Available!</b> See more details <a class="link" href="/installation">here</a> on updating!
    </div>
<% } %>