<link href="https://unpkg.com/tippy.js@6.3.7/themes/light.css" rel="stylesheet">
<link href="https://unpkg.com/tippy.js@6.3.7/themes/material.css" rel="stylesheet">
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<div class="header">
    <div class="navButtons">
        <a class="btn inline" href="/">Home</a>
        <a class="btn inline" href="/logs">Logs</a>
        <% if (isAdmin) { %>
            <a class="btn inline" href="/manage">Manage Server</a>
            <a class="btn inline" href="/configure">Configure</a>
        <% } %>

        <div class="account">
            <% if (session.isLoggedIn) { %>
                <div class="avatarContainer">
                    <img class="avatar" src="<%= getDiscordAvatar(session.discord.id, session.discord.avatar)%>"/>

                    <div class="mobileMenu">
                        <a class="btn bad" href="/logoust">Logout</a>
                    </div>
                </div>
                <p class="username"><%= session.discord.global_name %></p>
                <a class="btn bad logoutBtn" href="/logout">Logout</a>
            <% } else { %>
                <a class="btn discord" href="/login"><i class="fa-brands fa-discord"></i> Login</a>
            <% } %>
        </div>
    </div>
</div>