:root {
    --discord_blurple: #5865F2;
    --discord_blurple_2: #7289da;
    --discord_red: #ed4245;
    --discord_green: #57F287;
    --discord_yellow: #FEE75C;
}

body {
    background-color: rgb(55,55,55);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auth_box {
    display: block;
    position: absolute;
    margin: auto;
    width: fit-content;
    min-width: 275px;
    height: fit-content;
    padding: 8px 22px;
    background-color: rgb(25,25,25);
    top:0;right:0;left:0;bottom:0;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    z-index: 201;
}

.auth_box .button {
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    padding: 8px 2px;
    font-size: 24px;
    background-color: rgb(50,50,50);
    margin-bottom: 10px;
    transition: 0.5s ease-in-out transform, 0.5s ease-in-out box-shadow;
    text-decoration: none;
    color: white;
}

.auth_box .button:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    box-shadow: 2px 2px 5px black;
}

.auth_box a {
    color: white;
}

.auth_box input {
    display: block;
    margin: auto;
    padding: 6px 8px;
    width: fit-content;
    margin-bottom: 10px;
}

.popup_background {
    display: block;
    margin: auto;
    position: fixed;
    top:0;right:0;left:0;bottom:0;
    background-color: rgba(0,0,0,0.8);
    z-index: 200;
}

a {
    color: white;
}

.misconfigurationMenu {
    display: block;
    margin: auto;
    width: 60%;
    background-color: rgb(28,28,28);
    padding: 4px 22px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .misconfigurationMenu {
        width: 95%;
    }
}

.misconfigurationMenu .options {
    display: block;
    margin: auto;
}
.misconfigurationMenu .options .option {
    display: block;
    margin: auto;
    background-color: rgb(36,36,36);
    padding: 8px 22px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.misconfigurationMenu .options .option h2 {
    display: block;
    margin: auto;
}

.misconfigurationMenu .options .option .label {
    position: relative;
}
.misconfigurationMenu .options .option .label .description {
    color: grey;
}
.misconfigurationMenu .options .option .statusMark {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;bottom:0;
    right: 0;
    height: fit-content;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 18px;
    
}
.misconfigurationMenu .options .option .statusMark.good { background-color: rgb(0,180,0); }
.misconfigurationMenu .options .option .statusMark.bad { background-color: rgb(180,0,0); }

.loginRequired {
    display: block;
    margin: auto;
    width: fit-content;
}

.btn {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 18px;
    --colour: rgb(33, 134, 230);
    background-color: var(--colour);
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--colour);
}
.btn i {
    vertical-align: bottom;
}

.btn.inline {
    display: inline-block;
}

.btn.right { float: right; margin-left: 10px; }
.btn.left { float: left; margin-right: 10px; }

.btn.bad {
    --colour: var(--discord_red);
}
.btn.good {
    --colour: var(--discord_green);
    color: black;
}
.btn.neutral {
    --colour: var(--discord_yellow);
    color: black;
}

.btn.discord {
    --colour: var(--discord_blurple_2);
}

.header {
    display: block;
    margin: auto;
    height: 70px;
}
.header .account {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 15px;
}
.header .account .username {
    font-size: 22px;
    margin: auto;
}
.header .account .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.header .account .btn {
    display: unset;
    margin: unset;
    margin-left: 10px;
}
.header .mobileMenu {
    display: none;
}
@media screen and (max-width: 450px) {
    .header .account {
        margin-right: 0;
        margin-top: 0;
    }

    .header .account .username, .header .account .logoutBtn {
        display: none;
    }

    .header .account .avatar {
        background-color: rgb(25,25,25);
    }

    .header .account .avatarContainer:hover .mobileMenu {
        display: block;
        margin: auto;
        position: absolute;
        background-color: var(--discord_blurple_2);
        width: 100px;
        right: 10px;
        top: 55px;
        padding: 8px 4px;
        border-radius: 5px;
    }
    .header .mobileMenu .btn {
        background-color: transparent;
        box-shadow: none;
    }
}

.requiresRestart {
    color: var(--discord_red);
}

form label {
    vertical-align: top;
}

p.label.valid {
    display: none;
}

.mainMenu {
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: rgb(28,28,28);
    padding: 4px 12px;
    border-radius: 10px;
}
@media screen and (max-width: 500px) {
    .mainMenu {
        width: 95%;
    }
}
.mainMenu .button {
    display: block;
    margin: auto;
    width: 80%;
    background-color: rgb(36,36,36);
    padding: 12px 8px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s ease-in-out background-color;
}
.mainMenu .button:hover {
    background-color: rgb(46,46,46);
}

.logsContainer {
    display: block;
    margin: auto;
    width: 60%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    padding: 12px;
}
.logsContainer .logs {
    display: block;
    /* min-height: 500px;
    max-height: 500px; */
    height: 500px;
    overflow-y: auto;
    background-color: rgb(45,45,45);
    padding: 4px 12px;
    border-radius: 10px;
}
.logsContainer .logs .log {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.logsContainer .logs .log .chatMessage {
    display: block;
    margin: auto;
    width: 95%;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: rgb(15,15,15);
    border-left: 4px solid var(--discord_green);
}
.log .avatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}
.log .chatMessage .content {
    display: block;
}
.log .time {
    display: block;
    margin: auto;
    color: grey;
    font-size: 14px;
    margin-top: 5px;
}

.log .joinLeave, .log .advancement {
    display: block;
    margin: auto;
    width: 95%;
}

.logsContainer .input {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.logsContainer .input input[type=text] {
    display: inline-block;
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgba(170,170,170);
    border-radius: 5px;
    transition: 0.2s ease-in-out background-color;
}
.logsContainer .input input[type=text]:focus {
    background-color: rgba(210,210,210);
}
.logsContainer .input input[type=submit] {
    display: inline-block;
    width: 15%;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgba(190,190,190);
    border-radius: 5px;
    transition: 0.2s ease-in-out background-color;
}
.logsContainer .input input[type=submit]:hover {
    background-color: rgba(230,230,230);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .logsContainer {
        width: 95%;
    }
}

/* Server logs on /manage page */
.logsContainer.serverLogs {
    width: 90% !important;
    margin-top: 15px;
}

.buttonGroup {
    display: block;
    margin: auto;
    width: 90%;
    height: 30px;
}

a.link {
    color: rgb(255, 179, 39);
}
a.link:hover {
    opacity: 0.8;
}

.labeledInput {
    display: block;
    margin-bottom: 5px;
}
.labeledInput .input {
    display: inline-block;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
    border: none;
}
.labeledInput label {
    display: inline-block;
    margin-right: 5px;
}

.hint {
    color: grey;
    font-size: 12px;
}

.saveBtn {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.requestResponse {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    color: white;
    box-shadow: none !important;
}
.requestResponse:empty {
    display: none;
}

.advancementName {
    color: rgb(84, 252, 84);
}