<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Server - Configure</title>
    <link rel="stylesheet" href="/css/main"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("includes/header.html"); %>
    
    <div class="misconfigurationMenu">
        <h1>Configure</h1>

        <div class="options">
            <div class="option">
                <h2 class="label">config.json</h2>
                <br>

                <% for (const [key, val] of Object.entries(required.config)) { %>
                    <div class="labeledInput">
                        <% const existingVal = existing.config[key] %>

                        <input class="input configKey" id="<%= key %>" name="<%= key %>" value="<%= existingVal%>"/>
                        <label for="<%= key %>"><%= key %> - <span class="hint"><%= val.desc%></span></label>
                    </div>
                <% } %>
            </div>

            <div class="option">
                <h2 class="label">secret.json</h2>
                <br>

                <% for (const [key, val] of Object.entries(required.secret)) { %>
                    <div class="labeledInput">
                        <% const existingVal = existing.secret[key] %>

                        <input class="input secretKey" id="<%= key %>" name="<%= key %>" value="<%= existingVal%>"/>
                        <label for="<%= key %>"><%= key %> - <span class="hint"><%= val.desc%></span></label>
                    </div>
                <% } %>
            </div>
        </div>

        <a class="btn good saveBtn">Save</a>
        <p class="btn requestResponse"></p>
    </div>
</body>
<script src="/js/pages/editConfig.js"></script>
</html>