<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Setup</title>
    <link rel="stylesheet" href="/css/main"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="misconfigurationMenu">
        <h1>Project Setup</h1>
        <p>
            Check the summary below to see any missing or invalid options to make according changes for the website to work!
            <br>Sections marked with an 'x' indicate that an entry is missing or invalid, while a tick indicates it is fine.
        </p>

        <form style="margin-bottom: 15px;">
            <input class="showAllFieldsToggle" id="showAllFields" type="checkbox"/><label for="showAllFields">Show valid fields</label>
        </form>

        <div class="options">

            <div class="option">
                <h2 class="label">
                    Create secret.json

                    <% const secretValid = configurations.secretFile.exists && configurations.secretFile.valid; %>

                    <% if (secretValid) { %>
                        <span class="statusMark good"><i class="fa fa-check"></i></span>
                    <% } else { %>
                        <span class="statusMark bad"><i class="fa fa-xmark"></i></span>
                    <% } %>
                </h2>

                <% if (!secretValid) { %>
                    <p class="label">
                        Make sure secret.json has been created, and is valid!
                    </p>
                <% } %>
            </div>

            <div class="option">
                <h2 class="label">
                    Data in secret.json
                    
                    <%# Show a tick if every field is valid, otherwise show a cross. %>
                    <% if (Object.values(configurations.secretFile.fields).every(f => f === true)) { %>
                        <span class="statusMark good"><i class="fa fa-check"></i></span>
                    <% } else { %>
                        <span class="statusMark bad"><i class="fa fa-xmark"></i></span>
                    <% } %>
                </h2>

                <% const fields = Object.entries(configurations.secretFile.fields); %>

                <% for (const [field, valid] of fields) { %>
                    <p class="label <%= valid ? "valid" : "invalid" %>">
                        <% const fieldInfo = fieldDescriptions.secret[field] %>

                        <%= field%> <span class="description"><%= fieldInfo?.desc ? `- ${fieldInfo.desc}` : '' %></span>
                        <span class="statusMark <%= valid ? 'good' : 'bad' %>"><i class="fa fa-<%= valid ? 'check' : 'xmark' %>"></i></span>
                    </p>
                <% } %>
            </div>

            <div class="option">
                <h2 class="label">
                    Create config.json

                    <% const configValid = configurations.configFile.exists && configurations.configFile.valid; %>

                    <% if (configValid) { %>
                        <span class="statusMark good"><i class="fa fa-check"></i></span>
                    <% } else { %>
                        <span class="statusMark bad"><i class="fa fa-xmark"></i></span>
                    <% } %>
                </h2>

                <% if (!configValid) { %>
                    <p class="label">
                        Make sure config.json has been created, and is valid!
                    </p>
                <% } %>
            </div>

            <div class="option">
                <h2 class="label">
                    Data in config.json

                    <%# Show a tick if every field is valid, otherwise show a cross. %>
                    <% if (Object.values(configurations.configFile.fields).every(f => f === true)) { %>
                        <span class="statusMark good"><i class="fa fa-check"></i></span>
                    <% } else { %>
                        <span class="statusMark bad"><i class="fa fa-xmark"></i></span>
                    <% } %>
                </h2>

                <% const configFields = Object.entries(configurations.configFile.fields); %>

                <% for (const [field, valid] of configFields) { %>
                    <p class="label <%= valid ? "valid" : "invalid" %>">
                        <% const fieldInfo = fieldDescriptions.config[field] %>

                        <%- (fieldInfo.requiresRestart) ? `<span class="requiresRestart" title="Requires restart in order for change to take effect"><i class="fa fa-arrow-rotate-right"></i></span>` : "" %>
                        <%= field%> <span class="description"><%= fieldInfo?.desc ? `- ${fieldInfo.desc}` : '' %></span>
                        <span class="statusMark <%= valid ? 'good' : 'bad' %>"><i class="fa fa-<%= valid ? 'check' : 'xmark' %>"></i></span>
                    </p>
                <% } %>
            </div>

        </div>

        <p>You may need to restart the website for some changes to be recognised/take effect.</p>
    </div>
</body>
<script src="/js/utils"></script>
<script src="/js/pages/setupPage"></script>
</html>